
<ul class="menu">
    <li class="menu_list">
        <span class="front fas fa-home"></span>
        <a href="#" class="side">home</a>
    </li>
    <li class="menu_list">
        <span class="front fas fa-info"></span>
        <a href="#" class="side">about</a>
    </li>
    <li class="menu_list">
        <span class="front fas fa-briefcase"></span>
        <a href="#" class="side">projects</a>
    </li>
    <li class="menu_list">
        <span class="front fas fa-paper-plane"></span>
        <a href="#" class="side">contact</a>
    </li>
</ul>
