.container {
    max-width: 80%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    gap: 2px;
}

.dialog{
    width : 50%;
    max-height : 80%;
    border-radius : 20px;
    border-color: aliceblue;
    background-color: rgb(30, 30, 30);
    position: fixed;
    border: solid;
}
