<div class="container">
    <div class="vwrap">
        <div class="vmove">
            <div class="vslide">
                <h1 style="font-size: 80px;font-weight: bold;padding-top: 20px;">WELCOME</h1>
                <br>
                <p> TO THE RANDOM STORE.</p>
            </div>
            <div class="vslide">
                <h1 style="font-size: 80px;font-weight: bold;padding-top: 20px;">WHO ARE WE?</h1>
                <br>
                <p>IS NOT IMPORTANT!</p>
            </div>
            <!-- <div class="vslide">
                <h1 style="font-size: 80px;padding-top: 20px;">WHO ARE YOU</h1>
                <br>
                <p>IS THE REAL QUESTION HERE!</p>
            </div> -->
            <div class="vslide">
                <h1 style="font-size: 80px; font-weight: bold;padding-top: 20px;">WHAT DO WE SELL?</h1>
                <br>
                <p>ANYTHING THAT HAD BEEN SOLD, WILL BE SOLD AND WILL NEVER BE SOLD</p>
            </div>
      </div>
    </div>
</div>
