<!-- flip-card-container -->
<div (click)="do()" class="box-container">
  <div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src={{item.url}} alt="Random Img">
          <figcaption style="border-radius: 10px;">{{item.name}}</figcaption>
        </figure>
  
        <ul>
          <li>{{item.name}}</li>
          <li>Price: ${{(item.price).toFixed(2)}}</li>
          <li>In stock: {{item.quantity_inStock}}</li>
          <li>Description: {{item.description}}</li>
        </ul>
      </div>
  
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src={{item.url}} alt="Random Img">
        </figure>
  
        <button id="oncart" type="button" (click)="activated()">Add to cart</button>
  
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
  </div>
</div>